.home-page {



    .summary__modal {
        position: fixed;
        min-width: 400px;
        max-width: 544px;
        background-color: var(--color-white);
        display: none;
        flex-direction: column;
        border-radius: 24px;
        border: 1px solid var(--bg--footer-dark);
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        overflow: hidden;

        &.visible {
            display: flex;
        }

        .modal__header,
        .modal__footer {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--bg--footer-light);
            padding: 16px 20px;
        }


        .modal__header {
            height: 56px;
            border-bottom: 1px solid var(--bg--footer-dark);

            h4 {
                font-family: var(--font-family--subtitle);
                font-weight: 700;
                font-size: 18px;
            }

            button {
                border: none;
                background: transparent;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .modal__body {
            display: flex;
            flex-direction: column;
            padding: 24px;
            gap: 15px;

            .info {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                font-family: var(--font-family--title);

                .location {
                    font-weight: 700;
                    font-size: 18px;
                    color: var(--bg--default);
                    text-transform: capitalize;
                }

                .date {
                    font-size: 18px;
                    color: var(--color-icon-navbar);
                }
            }

            .price,
            .taxes,
            .extra_text {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                }
            }

        }

        .modal__footer {
            height: 64px;
            border-top: 1px solid var(--bg--footer-dark);

            span {
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
            }
        }


    }

}


/* MEDIA QUERIES */

/* Home Tablets(small) ----------- */
@media screen and (max-width: 600px) {

    .home-page {

        .summary__modal {
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 0;
            border: 1px solid var(--bg--footer-dark);
            z-index: 100;

            .modal__header {
                background-color: var(--bg--footer-light);
            }


            .modal__footer {
                height: 64px;
                border-top: 1px solid var(--bg--footer-dark);
                background-color: transparent;

                span {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 24px;
                }
            }

        }

    }
}